<mat-sidenav-container class="app-sidenav-container" [dir]="dir">
  <mat-sidenav
    #sidenav
    class="app-sidenav mat-elevation-z2"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">Employees</mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let employee of (employees | async)">
        <a matLine href="#">{{ employee.name }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()" (toggleDir)="toggleDir()"></app-toolbar>
    <div class="wrapper"><router-outlet></router-outlet></div>
  </div>
</mat-sidenav-container>
